<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px" />

# Python Ladder Challenge - Notebook 2

_Author:_ Tim Book

# Climb the Ladder!
Our class moves quickly! Sometimes, it feels like we make leaps in logic that are a bit too big. Learn Python _slowly_, by doing many, many examples. Problems in this notebook start out easy and progressively get harder, so that the next rung of the Python ladder is always within reach.

# Section IV: Conditionals and Loops

34) Print out the numbers 1 through 10.

In [7]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

35) Print out the odd numbers between 1 and 20 by using the third paramter to the `range()` function.

In [8]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

36) Print out the odd numbers between 1 and 20 by checking if the number is even before printing.

In [9]:
for i in range(1,20):
    if i % 2:
        print(i)

1
3
5
7
9
11
13
15
17
19

37) What is the sum of the first 100 integers? Hint: Create a variable `total` equal to zero, and increment `total` inside a loop.

In [10]:
total = 0
for i in range(1,101):
    total += i
print(total)

5050

38) For each friend in your `friends` list, print `'PERSON IS AWESOME!'` in all caps, where `PERSON` is of course replaced with your friend's name.

In [11]:
friends = ["Alice", "Bob", "Charlie", "Debbie"]

In [12]:
for i in friends:
    print(f"{i.upper()} IS AWESOME!")

ALICE IS AWESOME!
BOB IS AWESOME!
CHARLIE IS AWESOME!
DEBBIE IS AWESOME!

39) Similar to the last problem, print `'PERSON IS AWESOME!'` for each friend in your friends list _only if their name ends in a vowel_. Otherwise, print `"person is ok..."` (all lowercase).

In [13]:
vowel = ("a","e","i","o","u")
for i in friends:
    if i[-1] in vowel:
        print(f"{i.upper()} IS AWESOME!")
    else:
        print(f"{i.lower()} is ok...")

ALICE IS AWESOME!
bob is ok...
CHARLIE IS AWESOME!
DEBBIE IS AWESOME!

40) For each number between 1 and 30 (inclusive), if a number is divisible by 3, print `'Fizz'`. Otherwise, just print the number.

In [14]:
for i in range(1,31):
    if i % 3 == 0:
        print("Fizz")
    else:
        print(i)

1
2
Fizz
4
5
Fizz
7
8
Fizz
10
11
Fizz
13
14
Fizz
16
17
Fizz
19
20
Fizz
22
23
Fizz
25
26
Fizz
28
29
Fizz

41) For each number between 1 and 30 (inclusive), if a number is divisible by 5, print `'Buzz'`. Otherwise, just print the number.

In [15]:
for i in range(1,31):
    if i % 5 == 0:
        print(f"Buzz")
    else:
        print(i)

1
2
3
4
Buzz
6
7
8
9
Buzz
11
12
13
14
Buzz
16
17
18
19
Buzz
21
22
23
24
Buzz
26
27
28
29
Buzz

42) **FIZZBUZZ!** For each number between 1 and 30 (inclusive),
* if a number is divisible by 3, print `'Fizz'`
* if a number is divisible by 5, print `'Buzz'`
* if a number is divisible by both 3 and 5, instead print `'FizzBuzz'`,
* otherwise, just print the number

This problem is the famous "Fizzbuzz" problem - and is a very common interview coding challenge! If you can do this without help, you're making awesome progress! Well done!

In [16]:
for i in range(1,31):
    if i % 3 == 0 & i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
FizzBuzz
4
Buzz
FizzBuzz
7
8
FizzBuzz
Buzz
11
FizzBuzz
13
14
FizzBuzz
16
17
FizzBuzz
19
Buzz
FizzBuzz
22
23
FizzBuzz
Buzz
26
FizzBuzz
28
29
FizzBuzz

43) Define some string `sentence`. If you can't think of a good one, feel free to use `fact` from the previous notebook.

In [17]:
sentence = "Tata is a wonderful data scientist!"

44) Count the number of vowels in `sentence` (no, y is not a vowel).
* _Hint:_ What happens if you loop through a string?

In [18]:
vowel = ("a","e","i","o","u")
number = 0
for i in sentence:
    if i in vowel:
        number += 1
print (number)

12

45) Define a variable `sentence_rm` that is equal to `sentence` with all vowels removed. 
* _Hint:_ This is a tough one. Start out with an empty string and concatenate all of the consonants to it inside a loop.

In [19]:
vowel = ("a","e","i","o","u")
number = 0
sentence_rm = []
empty = []
for i in sentence:
    if i in vowel:
        number += 1
    else:
        seperator = ""
        sentence_rm += i 
        sentence_rm = seperator.join(sentence_rm)
print (sentence_rm)

Tt s  wndrfl dt scntst!

46) Create a variable `fav_number` equal to whatever is your favorite integer. Write a loop to determine if `fav_number` is prime. Recall that a prime number is any number whose only divisors are 1 and itself. For example, 6 is not prime since it's divisible by 1, 2, 3, and 6. But 7 _is_ prime since it's only divisible by 1 and 7.

In [2]:
# Program to check if a number is prime or not
fav_num = 11
# To take input from the user
#num = int(input("Enter a number: "))
num = fav_num

# To take input from the user
#num = int(input("Enter a number: "))

# Prime numbers are only divisible by 1 and itself. 
if num == 2:
    print(num,"is a prime number.") # 2 is a prime and a common factor.
elif num > 2 or num % 2 != 0: # Prime numbers are greater than 2 and not divisible by 2.
   # check for factors
   for i in range(2,num):
        if (num % i) == 0:
            print(num,"is not a prime number.")
            print(f"{i} times {num//i} is {num}.")
            break
        else:
            if i+1 == num:
                print(num,"is a prime number")
# if input number is less than
# or equal to 2, it is not prime

else:
    print(f" {num} is not a prime number as it is divisible by 2.")

11 is a prime number

47) A palindromic number reads the same both ways. For example, 1234321 is a palindrome. Write an `if` statement to test whether or not a number is palindromic.

In [21]:
txt = input("Enter a number: ")
reverse = txt[::-1]
if txt == reverse:
    print (f" The number {txt} is palindromic.")
else:
    print (f" The number {txt} is not palindromic as {txt} not equal to {reverse}.")

Enter a number: 123
 The number 123 is not palindromic as 123 not equal to 321.

48) Find the largest palindrome made from the product of two two-digit numbers.
* _Tip:_ Do not worry about the "efficiency" of your answer! The easiest answer is very inefficient.

In [22]:
# Biggest twodigit palindrome # Can't read the question properly
biggest = 0
for i in range(10,100):    
    product = int(i/10)*int(i%10)
    lpalindrome = []
    if product > biggest and str(product)[0] ==  str(product)[-1]:
        biggest = lpalindrome = product
print(f" {biggest} is the largest palindrome made from the product of a two-digit numbers.")

 9 is the largest palindrome made from the product of a two-digit numbers.

In [23]:
# Biggest product of two two-digit palindrome # This is very hard. This function loop num1 from 10 to 99 then repeat for num2.
num1 = 10
num2 = 10
lpalindrome = 0
for i in range(10,100): # Two-digit numbers start at 10 to 99       
    while num1 < 100 and num2 < 100: # while loop for until both num1 and num2 reach 100
        product = num1*num2
        num1 += 1
        if product > lpalindrome and str(product) ==  str(product)[::-1]:
            lpalindrome = product
        if num1 == 99: 
            num1 = 10 # reset num1 back to 10
            num2 +=1  # increase num2 by 1
print(f" {lpalindrome} is the largest palindrome made from the product of a two-digit numbers.")

 9009 is the largest palindrome made from the product of a two-digit numbers.

# Section V: List Comprehensions

**Disclaimer:** Many (maybe all) of these exercises can be done without a list comprehension. However, listcomps are often the easiest way to solve a problem like this. Listcomps are also optimized in Python, meaning they are also often the _fastest_ way to solve a problem. In fact, **every problem in this section can be solved in one line of code!**

---
**IMPORTANT NOTE: Consider all ranges in this section to be *inclusive*.**

49) Create a list of the numbers 1 through 10.

In [24]:
list = [n for n in range(1,11)]

In [25]:
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

50) Create a list of the squares of the numbers between 1 and 10.

In [26]:
sq = [n*n for n in range(1,11)]

In [27]:
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

51) Create a list of all the even numbers between 18 and 47.

In [28]:
even = [n for n in range(18,48) if n%2 ==0]

In [29]:
even

[18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46]

52) Create a list of the squares of the even numbers between 1 and 20.

In [30]:
sqeven = [n*n for n in range(1,21) if n%2 ==0]

In [31]:
sqeven

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

53) What is the sum of the cubes of the numbers between 7 and 37?

In [32]:
cube = [n**3 for n in range(7,38)]

In [33]:
sum(cube)

493768

54) Create a list of all of the numbers divisible by either 3 or 5 (or both) between 1 and 30.

In [34]:
div3or5 = [n for n in range(1,31) if n%3 ==0 or n%5 ==0 ]

In [35]:
div3or5

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30]

55) Redefine this list to be all uppercase.

In [36]:
friends = ['Alice', 'Bob', 'Charlie', 'Derek']

In [37]:
friends = [x.lower() for x in friends]

In [38]:
friends

['alice', 'bob', 'charlie', 'derek']

56) Remove all elements from `friends` whose names do not end in a vowel.

In [39]:
vowel = ["a","e","i","o","u"]
friends = [x for x in friends if x[-1] not in vowel]

In [40]:
friends

['bob', 'derek']

57) Take the `sentence` you used earlier and remove the vowels again. This time, using a one-line list comprehension.

* _Hint:_ You'll find the `.join()` method to be useful here.

In [41]:
sentence

'Tata is a wonderful data scientist!'

In [58]:
novowel = "".join([char for char in sentence if char not in "aeiouAEIOU"])

In [59]:
novowel

'Tt s  wndrfl dt scntst!'

58) You need to access Excel files that have names like `Jan 5.xlsx` or `Mar 15.xlsx`. Create a list of January 1 through January 31 like this. That is, create the list of: `['Jan 1.xlsx', 'Jan 2.xlsx', ... , 'Jan 31.xlsx']`.

In [79]:
list = (["Jan "+str(i)+".xlsx" for i in range(1,32)])

In [80]:
list

['Jan 1.xlsx',
 'Jan 2.xlsx',
 'Jan 3.xlsx',
 'Jan 4.xlsx',
 'Jan 5.xlsx',
 'Jan 6.xlsx',
 'Jan 7.xlsx',
 'Jan 8.xlsx',
 'Jan 9.xlsx',
 'Jan 10.xlsx',
 'Jan 11.xlsx',
 'Jan 12.xlsx',
 'Jan 13.xlsx',
 'Jan 14.xlsx',
 'Jan 15.xlsx',
 'Jan 16.xlsx',
 'Jan 17.xlsx',
 'Jan 18.xlsx',
 'Jan 19.xlsx',
 'Jan 20.xlsx',
 'Jan 21.xlsx',
 'Jan 22.xlsx',
 'Jan 23.xlsx',
 'Jan 24.xlsx',
 'Jan 25.xlsx',
 'Jan 26.xlsx',
 'Jan 27.xlsx',
 'Jan 28.xlsx',
 'Jan 29.xlsx',
 'Jan 30.xlsx',
 'Jan 31.xlsx']

59) Below is a list of amounts in euros. Create a new list, `dollars`, which is these amounts converted to U.S. dollars. There are 1.1 dollars per euro.

In [42]:
euros = [4.50, 6.70, 3.25, 9.99, 12.75, 0.35]

In [76]:
dollars = [round(float(euro)*1.1,2) for euro in euros]

In [77]:
dollars

[4.95, 7.37, 3.58, 10.99, 14.03, 0.39]

60) Below is a list of heights in inches. In order to ride a roller coaster, you must be at least 5 feet tall (60 inches). Filter this list to be _only_ those heights tall enough to ride.

In [43]:
heights = [71, 48, 55, 65, 68, 60, 58, 53]

In [82]:
list = [n for n in heights if n >= 60]

In [83]:
list

[71, 65, 68, 60]

61) Repeat the above exercise, except replace the lower heights with a `None` instead of dropping them.
* _Hint:_ Python has an in-line `if` statement, sometimes called a _ternary operator_ that you might find useful here. For example:

```
print("Tall enough" if 72 > 60 else "Too short")
print("Tall enough" if 52 > 60 else "Too short")
```

In [90]:
for n in heights:
    print("Tall enough" if n >= 60 else "Too short") 
# list = "Tall enough" if n = 60 else "Too short" # for ternary operator

Tall enough
Too short
Too short
Tall enough
Tall enough
Tall enough
Too short
Too short

62) Here are more heights below. However, this time, the information is contained in a dictionary. Create a list of the names _and ONLY the names_ of the people who are tall enough to ride the roller coaster.

* _Hint:_ How can you loop through a dictionary?

In [92]:
people = {
    'Aaron': 58,
    'Barbara': 66,
    'Clarence': 62,
    'Donovan': 55,
    'Erika': 70,
    'Fernando': 72
}

In [108]:
tall_list = []
for x, y in people.items():
    if y >= 60:
        tall_list.append(x)

In [109]:
tall_list

['Barbara', 'Clarence', 'Erika', 'Fernando']

63) Below we have some more data on our classmates. This time, the dictionary values are test scores. A student's final grade is their _maximum_ score on these three tests. Create a list of the students' final grades.

In [111]:
people = {
    'Aaron': [87, 52, 78],
    'Barbara': [92, 79, 85],
    'Clarence': [42, 68, 55],
    'Donovan': [95, 100, 87],
    'Erika': [62, 88, 47],
    'Fernando': [84, 99, 0]
}

In [115]:
max_score = []
for x, y in people.items():
    for n in y:
        maxtest = 0
        if n >= maxtest:
            maxtest = n
    max_score.append((x,maxtest))

In [116]:
max_score

[('Aaron', 78),
 ('Barbara', 85),
 ('Clarence', 55),
 ('Donovan', 87),
 ('Erika', 47),
 ('Fernando', 0)]

64) Repeat the above problem, except create a _dictionary_ of the final scores, where the dictionary keys are the names, and the dictionary values are the final grade.

* _Hint:_ You can do **dictionary comprehension** to solve this problem! Yes, it exists!

In [118]:
max_score = {}
for x, y in people.items():
    for n in y:
        maxtest = 0
        if n >= maxtest:
            maxtest = n
    max_score.update({x:maxtest})

In [119]:
max_score

{'Aaron': 78,
 'Barbara': 85,
 'Clarence': 55,
 'Donovan': 87,
 'Erika': 47,
 'Fernando': 0}

65) Using the two lists defined below, create the following resulting list:

`['AZ', 'BY', 'CX', 'DW', 'EV']`

* _Hint:_ Check out the `zip()` function.

In [123]:
letters_a = ['A', 'B', 'C', 'D', 'E']
letters_z = ['Z', 'Y', 'X', 'W', 'V']

In [124]:
letter_az = zip(letters_a,letters_z)

In [125]:
print(tuple(letter_az))

(('A', 'Z'), ('B', 'Y'), ('C', 'X'), ('D', 'W'), ('E', 'V'))

In [139]:
az = []
i = 0
for a in letters_a:
    az.append((a)+letters_z[i])
    i += 1

In [140]:
az

['AZ', 'BY', 'CX', 'DW', 'EV']

66) Using `letters_a` defined in the previous problem, create the following list:

```
[
    'A is letter 1 of the alphabet',
    'B is letter 2 of the alphabet',
    ...
]
```

* _Hint:_ Checkout the `enumerate()` function.

In [146]:
letter_alp = []
i = 1
for a in letters_a:
    letter_alp.append(f"{a} is letters {i} of the alphabet")
    i += 1

In [147]:
letter_alp

['A is letters 1 of the alphabet',
 'B is letters 2 of the alphabet',
 'C is letters 3 of the alphabet',
 'D is letters 4 of the alphabet',
 'E is letters 5 of the alphabet']

# Section VI: Libraries, imports and some more math!

67) Import the `math` library

In [126]:
import math

68) The `math` library has a lot of cool stuff in it. For this problem, evaluate the following math expressions:

a) $\sin{\frac{\pi}{2}}$

In [149]:
math.sin ((math.pi)/2)

1.0

b) $\ln{\sqrt{e}}$
* _Hint:_ A logarithm with base $e$ is represented by just `log` in `math`. In fact, throughout the course, $\log$ with no subscript will always denote the natural log (ie, log base $e$).

In [151]:
math.log(math.sqrt(math.e))

0.5

c) $e^{3!}$

In [152]:
(math.e)**math.factorial(3)

403.428793492735

In [153]:
math.factorial(3)

6

69) Two popular math functions are the "round up" and "round down" functions. In computer science, we call them the "ceiling" and "floor" functions. They're used and denoted as follows:

* `ceil(3.8)` $= \lceil 3.8 \rceil = 4$
* `ceil(3.2)` $= \lceil 3.2 \rceil = 4$
* `floor(3.8)` $= \lfloor 3.8 \rfloor = 3$
* `floor(3.2)` $= \lfloor 3.2 \rfloor = 3$

We _only_ need these two functions out of the `math` library. Use an `import` statement to import _only_ these two functions and verify the above examples are true.

In [155]:
math.ceil(3.8)

4

In [156]:
math.floor(3.2)

3

70) We can also _alias_ library names if they're too long and we will be using them often. As we will do many times in this course, import the following three libraries:

* Import the `numpy` library, aliasing it as `np`
* Import the `pandas` library, aliasing it as `pd`
* Import the `matplotlib.pyplot` library and submodule, aliasing it as `plt`

In [157]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

71) You can also import everything from a library all at once without needing to prefix it:

`from math import *`

For this question your task is: _never, **ever**_ do this.

Why?
1. It "pollutes" the namespace with variable names that could easily be overwritten on accident.
    - For example, after the import we could accidentally define `sin = 'without'` then be surprised when `sin(0.5)` no longer works!
2. It does not show the reader which module a given function came from. 
    - For example, we see above that `ceil` came from the `math` library since it was noted in the import.
    - If we use * is much more difficult to determine which module `ceil` is from.

In [158]:
import math as m # As alternative
# Import individual function is preferred as it could overwrite other libraries
from math import sqrt # Imports a method from math module

In [159]:
sqrt(4)

2.0